<div class="cluster">
    <div class="c-heading">
        <h1>My Cluster API</h1>        
    </div>
    <div class="c-body">
        <ul class="c-options">
            <li class="add" id="add">Add</li>
            <li class="get" id="get">Get</li>
            <li class="update" id="update">Update</li>
            <li class="delete" id="delete">Delete</li>
        </ul>
    {{#if alert}}
        <h3 class="alert" style="display: block">{{alert}}</h3>
    {{/if}}
    {{#if items}}
    <div id="add-container" style="display:none">    
    {{else}}
    <div id="add-container" class="add-container">
    {{/if}}
 
    
        <fieldset class="c-container">
            <legend><h1>Add a cluster:</h1></legend>
            <form action="/insert" method="post">
                    <div class="input-area">
                        <label for="name">Cluster Name:</label>
                        <input type="text" id="name" name="name" placeholder="Cluster Name">
                        <label for="url">Cluster Url:</label>
                        <input type="text" id="url" name="url" placeholder="Url">
                    </div>
                    <hr>
                    <button type="submit" class="btn">Add</button>
            </form>
        </fieldset>
    </div>
    {{# if items}}
    <div id="get-container" style="display:block">
    {{else}}
    <div id="get-container" class="get-container">
    {{/if}}
        <fieldset class="c-container">
            <legend><h1>View cluster:</h1></legend>
            <form action="/get-data" method="post">
                    <div class="input-area">
                            {{# each items }}
                            <article class="item">
                                <div><i>Name:</i> {{ this.name }}</div>
                                <div><i>Url:</i> {{ this.url }}</div>
                                <div><i>Id:</i> {{this.id}} </div>
                            </article>
                            <hr>
                            <br>
                            
                            {{/each}}
                    </div>
                    <button type="submit" class="btn">Get</button>
            </form>
        </fieldset>
    </div>

        <div id="update-container" class="update-container">
            <fieldset class="c-container">
                <legend><h1>Update cluster:</h1></legend>
                {{!--{{#if updated}} --}}
                {{!--{{updated}}--}}
                {{!--{{else}}--}}
                <form action="/update" method="post">
                    <div class="input-area">
                        <label for="name">Cluster Id:</label>
                        <input type="text" id="id" name="id" placeholder="Id">
                        <label for="url">Cluster Url:</label>
                        <input type="text" id="url" name="url" placeholder="Url">
                        <label for="name">Cluster Name:</label>
                        <input type="text" id="name" name="name" placeholder="Cluster Name">
                    </div>
                    <hr>
                    <button type="submit" class="btn">Update</button>
                </form>
                {{!--{{/if}}--}}
            </fieldset>
        </div>

        <div id="delete-container" class="delete-container">
            <fieldset class="c-container">
                <legend><h1>Delete cluster:</h1></legend>
                <form action="/delete" method="post">
                    <div class="input-area">
                        <label for="name">Cluster Id:</label>
                        <input type="text" id="id" name="id" placeholder="Id">
                    </div>
                    <hr>
                    <button type="submit" class="btn">Delete</button>
                </form>
            </fieldset>
        </div>



